.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Product */

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  margin: 20px;
  justify-content: space-evenly;
  background-color: white;
}

.product{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  padding: 1em;
  gap: 10px;
  cursor: pointer;
  max-width: 350px;
  border: 2px solid rgb(163, 185, 206);
  margin: 10px;
 padding: 10px;
}

.product button {
  padding: 10px 30px;
  cursor: pointer;
  background-color: #2874f0;
}

.product-card__img {
  width: 250px;
  height: 300px;
  padding: 10px;
}

.product-card__title {
  font-size: 20px;
}

.product-card__description {
  font-size: 16px;
  font-weight: 600;
}

.product-card:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(0, 0, 0, 0.5);
}
